# Cambia y renombra a .env
SECRET_KEY=supersecreto123
# Para SQLite (por defecto):
DATABASE_URL=sqlite:///inventario.db

# Ejemplo PostgreSQL (cuando migres):
# DATABASE_URL=postgresql+psycopg2://usuario:password@localhost:5432/inventario
